@model Code9.FoodOrders.Web.Models.OrderViewModel
@{
	ViewBag.Title = "Order";
	ViewBag.CurrentPage = 3;
	Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
}

<section id="login-page" data-role="page" >
	<header data-role="header"  data-position="fixed" >
		<h1>Order</h1>
		@Html.ActionLink("Log Off", "LogOff", "Account",null, new{@class="ui-btn-right"})
	</header>
	
	<div id="CurrentOrderDiv" data-role="content">
		@using ( Html.BeginForm("CompleteOrder", "Order", FormMethod.Post) )
		{
			@Html.ValidationSummary(true)
						   
			if ( Model.FoodNames.Any() )
			{
				<div data-role="fieldcontain">
					<ul data-role="listview">
			
						@for ( int i = 0; i < Model.FoodNames.Count; i++ )
						{
							<li data-role="fieldcontain">
								<fieldset data-role="controlgroup" data-type="horizontal">
									<legend>@Model.FoodNames[i]</legend>
									@Html.ActionLink("Remove", "RemoveOrderFood", "Order", 
												new { foodId = Model.FoodIds[i]},
												new { data_role = "button", data_inline = "true", data_theme = "b",
													data_icon = "delete", @class = "ui-btn-right"})
								</fieldset>
							</li>
						}
					</ul>
				</div>
				<p>&nbsp;</p>
				<input type="submit" data-role="button" data-icon="check" value="Complete this order"/>        
			}
			else
			{
				<br/>
				<div>No meals selected yet.</div>
			}
		}
	</div>
	@Html.Partial("Footer.Mobile")
</section>

