@model IEnumerable<Code9.FoodOrders.Web.Models.OrderViewModel>

@{
	ViewBag.Title = "OrdersList";
	ViewBag.CurrentPage = 2;
	Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
}
<section id="login-page" data-role="page" data-add-back-btn="true">
	<header data-role="header"  data-position="fixed" >
		<h1>OrdersList</h1>
		@Html.ActionLink("Log Off", "LogOff", "Account",null, new{@class="ui-btn-right"})
	</header>
	<div data-role="content" >
		<ul data-role="listview" >
			@foreach ( var item in Model )
			{
				<li>
					<a href="#">@item.OrderDate.ToLongDateString()</a>
					<ul data-role="listview" data-backbtn="true">
						@Html.DisplayFor(modelItem => item.OrderDate)
						@foreach (var food in item.FoodNames)
						{
							<li>@food</li>
						}          
					</ul>
				</li>
			}
		</ul>
	</div>
	@Html.Partial("Footer.Mobile")
</section>
